@model Tuple<string,NeType>
@{ 

    var selectedAction = ViewContext.RouteData.Values["action"].ToString().ToLower();
    
}
<div class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-warning" asp-route="Exchange">Back to "@Model.Item1"</a>
    <a class="list-group-item list-group-item-action @(selectedAction == "specifications" ? "active":"")" asp-action="Specifications">Specifications</a>
    @switch (Model.Item2)
    {
        case NeType.Core:
            {
                <a class="list-group-item list-group-item-action @(selectedAction == "links" ? "active":"")" asp-action="Links">Links</a>
                <a class="list-group-item list-group-item-action @(selectedAction == "numbering" ? "active":"")" asp-action="Numbering">Numbering</a>
                <a class="list-group-item list-group-item-action @(selectedAction == "remotes" ? "active":"")" asp-action="Remotes">Remotes</a>
                <a class="list-group-item list-group-item-action @(selectedAction == "accesses" ? "active":"")" asp-action="Accesses">Accesses</a>
            }
            break;
        case NeType.Access:
        case NeType.Remote:
            {
                <a class="list-group-item list-group-item-action @(selectedAction == "numbering" ? "active":"")" asp-action="Numbering">Numbering</a>
            }
            break;
    }
</div>
