@model DistrictViewModel
@{
    ViewData["Title"] = Model.SelectedDistrict;
    int count = 0;
}

<div class="row">
    <div class="@Settings.Col3">
        <div class="list-group">
            <a asp-action="District" asp-route-district="A2" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A2 ? "active":"")">Area 2</a>
            <a asp-action="District" asp-route-district="A3" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A3 ? "active":"")">Area 3</a>
            <a asp-action="District" asp-route-district="A4" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A4 ? "active":"")">Area 4</a>
            <a asp-action="District" asp-route-district="A5" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A5 ? "active":"")">Area 5</a>
            <a asp-action="District" asp-route-district="A6" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A6 ? "active":"")">Area 6</a>
            <a asp-action="District" asp-route-district="A7" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A7 ? "active":"")">Area 7</a>
            <a asp-action="District" asp-route-district="A8" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A8 ? "active":"")">Area 8</a>
            <a asp-action="District" asp-route-district="ON" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.ON ? "active":"")">Other Networks (ON)</a>
        </div>
    </div>
    <div class="@Settings.Col9">
        @switch (Model.SelectedDistrict)
        {
            case Area.A2:
                <h3>Area 2</h3>
                break;
            case Area.A3:
                <h3>Area 3</h3>
                break;
            case Area.A4:
                <h3>Area 4</h3>
                break;
            case Area.A5:
                <h3>Area 5</h3>
                break;
            case Area.A6:
                <h3>Area 6</h3>
                break;
            case Area.A7:
                <h3>Area 7</h3>
                break;
            case Area.A8:
                <h3>Area 8</h3>
                break;
            case Area.ON:
                <h3>Other Networks</h3>
                break;
            default:
                break;
        }

        <div asp-validation-summary="All" class="text-danger"></div>
        @if (TempData.Keys.Contains("message"))
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>

        }
        <button class="btn btn-primary my-3" data-toggle="modal" data-target="#addExchange">Add Exchange</button>

        <ul class="nav nav-tabs" id="providences">
            @foreach (var providence in Model.Exchanges.Select(x => x.Providence).Distinct().OrderBy(x => x))
            {
                <li class="nav-item">
                    <a class="nav-link @(providence == "تهران"?"active":"")" id="@(count)-tab" data-toggle="tab" href="#@(count++)">@providence <span class="badge badge-secondary">@Model.Exchanges.Where(x => x.Providence == providence).First().Exchanges.Count()</span></a>
                </li>
            }
        </ul>
        @{ count = 0;}
        <div class="tab-content" id="providencesContent">
            @foreach (var providence in Model.Exchanges)
            {
                <div class="tab-pane fade show @(providence.Providence == "تهران"?"active":"")" id="@(count)">
                    <div class="table-responsive mt-3 pb-3">
                        <table class="@Settings.TableClickableClass" hidden id="@(count++)-Table">
                            <thead>
                                <tr>
                                    <th>Abbreviation</th>
                                    <th>Name</th>
                                    <th>Created at</th>
                                    <th>Modified at</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exch in providence.Exchanges)
                                {
                                    <tr>
                                        <td><a asp-action="Exchange" asp-route-exchange="@exch.Abb" asp-route-district="@Model.SelectedDistrict">@exch.Abb</a></td>
                                        <td>@exch.Name</td>
                                        <td>@exch.CreatedOn.GetPersianDate()</td>
                                        <td>@exch.ModifiedOn.GetPersianDate()</td>
                                        <td>@exch.Username</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="addExchange" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Exchange</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="District" method="post" onsubmit="return AbbValidation($('#NewExchange_Abb').val(), '', 'abbValidation',true);">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="NewExchange.Name"></label><div><span asp-validation-for="NewExchange.Name" class="text-danger"></span></div>
                        <input asp-for="NewExchange.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NewExchange.Abb"></label><div><span class="text-danger" id="abbValidation"></span><span asp-validation-for="NewExchange.Abb" class="text-danger"></span></div>
                        <input asp-for="NewExchange.Abb" class="form-control" onkeyup="AbbValidation($(this).val(),'','abbValidation')" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NewExchange.Providence"></label><div><span class="text-danger" id="abbValidation"></span><span asp-validation-for="NewExchange.Providence" class="text-danger"></span></div>
                        <select class="form-control" asp-for="NewExchange.Providence">
                            @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.Providence))
                            {
                                if (item.Name == "تهران")
                                {
                                    <option selected value="@item.Name">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="NewExchange.IsSite">
                        <label class="custom-control-label" asp-for="NewExchange.IsSite"></label>
                    </div>
                    <input type="hidden" asp-for="NewExchange.Area" value="@Model.SelectedDistrict" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{ count = 0;}

@section Scripts{
    <script>
                $(document).ready(function () {
                    @foreach(var providence in Model.Exchanges.Select(x=>x.Providence))
                    {
                        @:$('#@count-Table').DataTable({
                    @:pageLength: 50
                    @:});
                    @:$("#@(count++)-Table").removeAttr("hidden");
                    }

                });
    </script>
}
