@model DistrictViewModel
@{
    string[] active = new string[7];
    ViewData["Title"] = "Area " + (int)Model.SelectedDistrict;
    switch (Model.SelectedDistrict)
    {
        case Area.A2:
            active[0] = "active";
            break;
        case Area.A3:
            active[1] = "active";
            break;
        case Area.A4:
            active[2] = "active";
            break;
        case Area.A5:
            active[3] = "active";
            break;
        case Area.A6:
            active[4] = "active";
            break;
        case Area.A7:
            active[5] = "active";
            break;
        case Area.A8:
            active[6] = "active";
            break;
        default:
            break;
    }
}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a asp-action="District" asp-route-district="A2" class="list-group-item list-group-item-action @active[0]">Area 2</a>
            <a asp-action="District" asp-route-district="A3" class="list-group-item list-group-item-action @active[1]">Area 3</a>
            <a asp-action="District" asp-route-district="A4" class="list-group-item list-group-item-action @active[2]">Area 4</a>
            <a asp-action="District" asp-route-district="A5" class="list-group-item list-group-item-action @active[3]">Area 5</a>
            <a asp-action="District" asp-route-district="A6" class="list-group-item list-group-item-action @active[4]">Area 6</a>
            <a asp-action="District" asp-route-district="A7" class="list-group-item list-group-item-action @active[5]">Area 7</a>
            <a asp-action="District" asp-route-district="A8" class="list-group-item list-group-item-action @active[6]">Area 8</a>
        </div>
    </div>
    <div class="col-md-9">
        <h3>Area @Convert.ToInt32(Model.SelectedDistrict)</h3>
        <button class="btn btn-primary my-3" data-toggle="modal" data-target="#addExchange">Add Exchange</button>
        <table class="table table-bordered table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Abbreviation</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exch in Model.Exchanges)
                {
                    <tr>
                        <td><a asp-action="Exchange" asp-route-exchange="@exch.Name">@exch.Abb</a></td>
                        <td>@exch.Name</td>
                        <td><a class="btn btn-warning mr-2" data-toggle="modal" data-target="#editExchange">Edit</a><a class="btn btn-danger" data-toggle="modal" data-target="#deleteExchange" onclick="">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="deleteExchange" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete exchange?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a asp-action="DeleteExchange" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addExchange" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">New Exchange</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-route-district="@Model.SelectedDistrict" asp-action="AddExchange" method="post">
                        <div class="form-group">
                            <label asp-for="NewAbbreviation.Name"></label>
                            <input asp-for="NewAbbreviation.Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewAbbreviation.Abb"></label>
                            <input asp-for="NewAbbreviation.Abb" class="form-control" />
                        </div>
                        <input type="hidden" asp-for="NewAbbreviation.Area" value="@Model.SelectedDistrict" />
                        <input type="hidden" asp-for="NewAbbreviation.Type" value="@AbbType.Exchange" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


