@model DistrictViewModel
@{
    ViewData["Title"] = "Area " + (int)Model.SelectedDistrict;
}

<div class="row">
    <div class="@Settings.Col3">
        <div class="list-group">
            <a asp-action="District" asp-route-district="A2" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A2 ? "active":"")">Area 2</a>
            <a asp-action="District" asp-route-district="A3" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A3 ? "active":"")">Area 3</a>
            <a asp-action="District" asp-route-district="A4" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A4 ? "active":"")">Area 4</a>
            <a asp-action="District" asp-route-district="A5" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A5 ? "active":"")">Area 5</a>
            <a asp-action="District" asp-route-district="A6" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A6 ? "active":"")">Area 6</a>
            <a asp-action="District" asp-route-district="A7" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A7 ? "active":"")">Area 7</a>
            <a asp-action="District" asp-route-district="A8" class="list-group-item list-group-item-action @(Model.SelectedDistrict == Area.A8 ? "active":"")">Area 8</a>
        </div>
    </div>
    <div class="@Settings.Col9">
        <h3>Area @Convert.ToInt32(Model.SelectedDistrict)</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (TempData.Keys.Contains("message"))
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>

        }

        <button class="btn btn-primary my-3" data-toggle="modal" data-target="#addExchange">Add Exchange</button>
        <table class="@Settings.TableClickableClass">
            <thead>
                <tr>
                    <th>Abbreviation</th>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Modified at</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exch in Model.Exchanges)
                {
                    <tr>
                        <td><a asp-action="Exchange" asp-route-exchange="@exch.Abb" asp-route-district="@Model.SelectedDistrict">@exch.Abb</a></td>
                        <td>@exch.Name</td>
                        <td>@exch.CreatedOn</td>
                        <td>@exch.ModifiedOn</td>
                        <td>@exch.Username</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addExchange" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Exchange</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="District" method="post" onsubmit="return AbbValidation($('#NewExchange_Abb').val(), '', 'abbValidation');">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="NewExchange.Name"></label><div><span asp-validation-for="NewExchange.Name" class="text-danger"></span></div>
                        <input asp-for="NewExchange.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NewExchange.Abb"></label><div><span class="text-danger" id="abbValidation"></span><span asp-validation-for="NewExchange.Abb" class="text-danger"></span></div>
                        <input asp-for="NewExchange.Abb" class="form-control" onkeyup="AbbValidation($(this).val(),'','abbValidation')"/>
                    </div>
                    <input type="hidden" asp-for="NewExchange.Area" value="@Model.SelectedDistrict" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

