@model ExchangeViewModel
@{
    string active = "";
    ViewData["Title"] = $"{Model.SelectedExchange.Abb} ({Model.SelectedExchange.Name})";
    string deleteId;
    if (Model.SelectedExchange.NetworkElements.Count() > 0)
    {
        deleteId = "cannotDelete";
    }
    else
    {
        deleteId = "deleteExchange";
    }
}

<div class="row">
    <div class="@Settings.Col3">
        <div class="list-group">
            <a asp-action="District" class="list-group-item list-group-item-warning list-group-item-action">Back to "@Model.SelectedDistrict"</a>
            @foreach (var exch in Model.Exchanges)
            {

                if (exch.Id == Model.SelectedExchange.Id)
                {
                    active = "active";
                }
                else
                {
                    active = "";
                }
                <a asp-action="Exchange" asp-route-exchange="@exch.Abb" asp-route-district="@Model.SelectedDistrict" class="list-group-item list-group-item-action @active">@exch.Abb (@exch.Name)</a>
            }
        </div>
    </div>
    <div class="@Settings.Col9">
        <h3>@Model.SelectedExchange.Abb (@Model.SelectedExchange.Name)</h3>
        @if (TempData.Keys.Contains("message"))
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>

        }
        @if (!this.ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="alert alert-danger"></div>

        }
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle my-3" data-toggle="dropdown">
                Add Network Element
            </button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editExchange">Edit "@Model.SelectedExchange.Name"</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@deleteId">Delete "@Model.SelectedExchange.Name"</button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#addCore">Core</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addRemote">Remote</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addAccess">Access</a>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-core">Core <span class="badge badge-secondary">@Model.CoreElements.Count()</span></a>
                <a class="nav-item nav-link" id="nav-remotes-tab" data-toggle="tab" href="#nav-remotes" onclick="loadRemoteTable();">Remotes <span class="badge badge-secondary">@Model.Remotes.Count()</span></a>
                <a class="nav-item nav-link" id="nav-accesses-tab" data-toggle="tab" href="#nav-accesses" onclick="loadAccessTable()">Access <span class="badge badge-secondary">@Model.Accesses.Count()</span></a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-core">
                <div class="table-responsive mt-3 pb-3">
                    <table class="@Settings.TableClickableClass" hidden style="width:100% !important" id="coreTable">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Type</td>
                                <td>Model</td>
                                <td>Manufacturer</td>
                                <td>Owner</td>
                                <td>Installed Capacity</td>
                                <td>Used Capacity</td>
                                <td>Remark</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var core in Model.CoreElements)
                            {
                                <tr>
                                    <td><a asp-action="Specifications" asp-route-ne="@core.Name">@core.Name</a></td>
                                    <td>@core.Type</td>
                                    <td>@core.Model</td>
                                    <td>@core.Manufacturer</td>
                                    <td>@core.Owner</td>
                                    <td>@core.InstalledCapacity</td>
                                    <td>@core.UsedCapacity</td>
                                    <td>@core.Remark</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-remotes">
                <div class="table-responsive mt-3 pb-3">
                    <table class="@Settings.TableClickableClass" style="width:100% !important" id="remoteTable">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Type</td>
                                <td>Model</td>
                                <td>Manufacturer</td>
                                <td>Installed Capacity</td>
                                <td>Used Capacity</td>
                                <td>Parent</td>
                                <td>Remark</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var remote in Model.Remotes)
                            {
                                <tr>
                                    <td><a asp-action="Specifications" asp-route-ne="@remote.Name">@remote.Name</a></td>
                                    <td>@remote.Type</td>
                                    <td>@remote.Model</td>
                                    <td>@remote.Manufacturer</td>
                                    <td>@remote.InstalledCapacity</td>
                                    <td>@remote.UsedCapacity</td>
                                    <td>@remote.Parent.Name</td>
                                    <td>@remote.Remark</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-accesses">
                <div class="table-responsive mt-3 pb-3">
                    <table class="@Settings.TableClickableClass" style="width:100% !important" id="accessTable">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Type</td>
                                <td>Model</td>
                                <td>Manufacturer</td>
                                <td>Installed Capacity</td>
                                <td>Used Capacity</td>
                                <td>Parent</td>
                                <td>Remark</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var access in Model.Accesses)
                            {
                                <tr>
                                    <td><a asp-action="Specifications" asp-route-ne="@access.Name">@access.Name</a></td>
                                    <td>@access.Type</td>
                                    <td>@access.Model</td>
                                    <td>@access.Manufacturer</td>
                                    <td>@access.InstalledCapacity</td>
                                    <td>@access.UsedCapacity</td>
                                    <td>@access.Parent.Name</td>
                                    <td>@access.Remark</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCore" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Network Element (Core)</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Exchange" method="post" onsubmit="NeNameValidation($('#NewNE_Name').val(),'','neNameValidation')">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.Name"></label><div><span id="neNameValidation" class="text-danger"></span><span asp-validation-for="NewNE.Name" class="text-danger"></span></div>
                                <input asp-for="NewNE.Name" class="form-control" onkeyup="NeNameValidation($('#NewNE_Name').val(),'','neNameValidation')" />
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.Type"></label>
                                <select asp-for="NewNE.Type" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.CoreType))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.Owner"></label>
                                <select asp-for="NewNE.Owner" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.Owner))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                        <div class="form-group">
                            <label asp-for="NewNE.Model"></label>
                            <select asp-for="NewNE.Model" class="form-control">
                                @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.CoreModel))
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.Manufacturer"></label>
                                <select asp-for="NewNE.Manufacturer" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.Manufacturer))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.InstalledCapacity"></label><div><span asp-validation-for="NewNE.InstalledCapacity" class="text-danger"></span></div>
                                <input asp-for="NewNE.InstalledCapacity" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.UsedCapacity"></label><div><span asp-validation-for="NewNE.UsedCapacity" class="text-danger"></span></div>
                                <input asp-for="NewNE.UsedCapacity" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.Remark"></label>
                                <textarea asp-for="NewNE.Remark" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" asp-for="NewNE.NetworkType" value="@NeType.Core" />
                    <input type="hidden" asp-for="NewNE.ExchangeId" value="@Model.SelectedExchange.Id" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addRemote" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Network Element (Remote)</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Exchange" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.Type"></label>
                                <select asp-for="NewNE.Type" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.RemoteType))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.Model"></label>
                                <select asp-for="NewNE.Model" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.RemoteModel))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.Manufacturer"></label>
                                <select asp-for="NewNE.Manufacturer" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.Manufacturer))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Parent (Area)</label>
                                <select asp-items="@Html.GetEnumSelectList<Area>()" class="form-control" onchange="$('#remoteNE').text('');PopulateExchange($(this).val(),'remoteExchange');">
                                    <option value="" disabled selected>Please select an area!</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Parent (Exchange)</label>
                                <select class="form-control" id="remoteExchange" onchange="PopulateNE($(this).val(), 'Core' ,'remoteNE')"></select>
                            </div>
                            <div class="form-group">
                                <label>Parent (NE)</label>
                                <select required asp-for="NewNE.ParentId" class="form-control" id="remoteNE"></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.InstalledCapacity"></label><div><span asp-validation-for="NewNE.InstalledCapacity" class="text-danger"></span></div>
                                <input asp-for="NewNE.InstalledCapacity" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.UsedCapacity"></label><div><span asp-validation-for="NewNE.UsedCapacity" class="text-danger"></span></div>
                                <input asp-for="NewNE.UsedCapacity" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.Remark"></label>
                                <textarea asp-for="NewNE.Remark" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" asp-for="NewNE.NetworkType" value="@NeType.Remote" />
                    <input type="hidden" asp-for="NewNE.Name" value="Remote" />
                    <input type="hidden" asp-for="NewNE.ExchangeId" value="@Model.SelectedExchange.Id" />
                    <input type="hidden" asp-for="NewNE.Owner" value="TCT" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addAccess" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Network Element (Access)</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Exchange" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.Type"></label>
                                <select asp-for="NewNE.Type" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.AccessType))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.Model"></label>
                                <select asp-for="NewNE.Model" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.AccessModel))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.Manufacturer"></label>
                                <select asp-for="NewNE.Manufacturer" class="form-control">
                                    @foreach (var item in Model.Miscs.Where(x => x.Type == MiscType.Manufacturer))
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Parent (Area)</label>
                                <select asp-items="@Html.GetEnumSelectList<Area>()" class="form-control" onchange="$('#accessNE').text('');PopulateExchange($(this).val(),'accessExchange');">
                                    <option value="" disabled selected>Please select an area!</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Parent (Exchange)</label>
                                <select class="form-control" id="accessExchange" onchange="PopulateNE($(this).val(), 'Core' ,'accessNE')"></select>
                            </div>
                            <div class="form-group">
                                <label>Parent (NE)</label>
                                <select required asp-for="NewNE.ParentId" class="form-control" id="accessNE"></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.InstalledCapacity"></label>
                                <input asp-for="NewNE.InstalledCapacity" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="NewNE.UsedCapacity"></label>
                                <input asp-for="NewNE.UsedCapacity" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NewNE.Remark"></label>
                                <textarea asp-for="NewNE.Remark" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" asp-for="NewNE.NetworkType" value="@NeType.Access" />
                    <input type="hidden" asp-for="NewNE.ExchangeId" value="@Model.SelectedExchange.Id" />
                    <input type="hidden" asp-for="NewNE.Owner" value="TCT" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editExchange" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit "@Model.SelectedExchange.Name"</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="EditExchange" method="post" onsubmit="return AbbValidation($('#SelectedExchange_Abb').val(), '@Model.SelectedExchange.Abb' , 'abbValidation','true');">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="SelectedExchange.Name"></label><span asp-validation-for="SelectedExchange.Name" class="text-danger"></span>
                        <input id="editName" asp-for="SelectedExchange.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedExchange.Abb"></label><div><span class="text-danger" id="abbValidation"></span><span asp-validation-for="SelectedExchange.Abb" class="text-danger"></span></div>
                        <input id="editAbb" asp-for="SelectedExchange.Abb" class="form-control" onkeyup="AbbValidation($(this).val(),'@Model.SelectedExchange.Abb','abbValidation')" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedExchange.Area"></label>
                        <select asp-for="SelectedExchange.Area" class="form-control">
                            @for (int i = 2; i < 10; i++)
                            {
                                @if (i == (int)Model.SelectedDistrict)
                                {
                                    <option class="form-control" selected value="@Enum.GetName(typeof(Area),i)">Area @i</option>
                                }
                                else
                                {
                                    <option class="form-control" value="@Enum.GetName(typeof(Area),i)">Area @i</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedExchange.Providence"></label>
                        <select asp-for="SelectedExchange.Providence" class="form-control">
                            @foreach (var providence in Model.Miscs.Where(x => x.Type == MiscType.Providence))
                            {
                                @if (providence.Name == Model.SelectedExchange.Providence)
                                {
                                    <option class="form-control" selected value="@providence.Name">@providence.Name</option>
                                }
                                else
                                {
                                    <option class="form-control" value="@providence.Name">@providence.Name</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="SelectedExchange.IsSite">
                        <label class="custom-control-label" asp-for="SelectedExchange.IsSite"></label>
                    </div>
                    <input type="hidden" asp-for="SelectedExchange.Id" />
                    <input type="hidden" asp-for="SelectedExchange.CreatedOn" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteExchange" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Exchange</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <form method="post" asp-action="DeleteExchange">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="hidden" name="exchange" value="@Model.SelectedExchange.Abb" />
                    <input type="hidden" name="district" value="@Model.SelectedDistrict" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cannotDelete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                There are @Model.SelectedExchange.NetworkElements.Count() NE in "@Model.SelectedExchange.Name".
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var isRemoteTableLoaded = false;
        var isAccessTableLoaded = false;


        

        $(document).ready(function () {
            $('#coreTable').DataTable({
                pageLength: 25
            });
            $('#coreTable').removeAttr("hidden");
        });

        function loadRemoteTable() {
            if (isRemoteTableLoaded)
                return;
            $("#remoteTable").dataTable();
            $("#remoteTable").removeAttr("hidden");
        }
        function loadAccessTable() {
            if (isAccessTableLoaded)
                return;
            $("#accessTable").dataTable();
            $("#accessTable").removeAttr("hidden");
        }
        

    </script>
}