@model CustomersViewModel
@{
    TempData["Title"] = "Customers";
}

<div class="row">
    <div class="@Settings.Col3">

    </div>
    <div class="@Settings.Col9">
        <h3>Customer Management</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (TempData.Keys.Contains("message"))
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>

        }
        <button class="btn btn-primary my-3" data-toggle="modal" data-target="#addCustomer">Add Customer</button>
        <table class="@Settings.TableClass" id="customersTable">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Abbreviation</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td><a asp-action="Customers" asp-route-Abb="@customer.Abb">@customer.Name</a></td>
                        <td>@customer.Abb</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>



<div class="modal fade" id="addCustomer" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Exchange</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AddCustomer" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="NewCustomer.Name"></label><div><span asp-validation-for="NewCustomer.Name" class="text-danger"></span></div>
                        <input asp-for="NewCustomer.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NewCustomer.Abb"></label><div><span asp-validation-for="NewCustomer.Abb" class="text-danger"></span></div>
                        <input asp-for="NewCustomer.Abb" class="form-control" />
                    </div>
                    @*<input type="hidden" asp-for="SelectedExchange.Type" value="@AbbType.Exchange" />*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $('#customersTable').dataTable();
    </script>
}